Travels/.vs/
Travels/Travels/bin/
Travels/Travels/obj/
/Keys/
/TravelsTester/.vs/
/TravelsTester/TravelsTester/bin/
/TravelsTester/TravelsTester/obj/
/Travels/Travels/Travels.csproj.user
/Travels/Travels/Properties/PublishProfiles/FolderProfile.pubxml.user
